<div class="about-text">
  <p class="text-lg text-gray-600">
    <br />
    I am a computer science graduate student at Arizona State University.
    <br />I have completed my undergraduate studies at Indian Institute of
    Information <br />Technology, Sri City. I am coding for 5 years now, with
    experience in building <br />
    real life useable applications that scale well. I am proficient in Python
    and <br />
    JavaScript and frameworks such as Next.js, Express.js, Tailwind.css and REST
    API's.
    <br />
  </p>
</div>
